<div class="pl-4">
    <div class="pl-4">
        <p>gest-usuario works!</p>
        <form [formGroup]="formUser" (ngSubmit)="envioInfo()">
            <div>
                <div class="card flex justify-content-center">
                    <span class="p-float-label">
                        <p-floatLabel>
                            <input id="username" type="text" pInputText formControlName="username" />
                            <label for="username">Username</label>
                        </p-floatLabel>
                    </span>
                </div>
                <div class="card flex justify-content-center" *ngIf="formUser.get('username')?.errors && (!formUser.get('username')?.pristine || formUser.get('username')?.dirty)">
                    <p *ngIf="formUser.get('username')?.hasError('required')" class="text-red-500" >El campo E-mail es Requerido</p>
                    <p *ngIf="formUser.get('username')?.hasError('email')" class="text-red-500" >E-mail NO es CORRECTO</p>
                </div>
                <div class="pb-4">
                    <div class="flex align-items-center justify-content-center m-2">
                        <span class="p-float-label">
                            <p-password formControlName="password" [feedback]="false"></p-password>
                            <label for="password">Password</label>
                        </span>
                        <!--label for="password" class="text-info">Password:</label><br>
                        <input type="password" name="password" formControlName="password" id="password" class="form-control"-->
                    </div>
                    <div class="card flex justify-content-center" *ngIf="formUser.get('password')?.errors && (!formUser.get('password')?.pristine || formUser.get('password')?.dirty)">
                        <p *ngIf="formUser.get('password')?.hasError('required')" class="text-red-500" >El campo Password es Requerido</p>
                        <p *ngIf="formUser.get('password')?.hasError('pattern')" class="text-red-500" >La Contraseña debe tener al menos 8 caracteres: 1 minuscula, 1 Mayuscula, 1 numero, 1 caracter especial('#?!"&#64;"$%^&*-')</p>
                    </div>
                </div>
                <!--div>
                    <p-password formControlName="password" [feedback]="false" />
                </div-->
            </div>
            <div class="form-group pb-4">
                <p-button  type="submit" label="Crear Usuario" [outlined]="true" severity="warning" [disabled]="!formUser.valid" />
                <!--button type="submit" class="boton btn btn-md text-uppercase btn-rounded">Login</button-->
            </div>
        </form>
        <!--p-messages [closable]="true"></p-messages-->
        <p-button label="Panel Principal" [outlined]="true" severity="help" (onClick)="volver()"/>
    </div>
</div>
